body {
	height: auto;
	background-image: linear-gradient(90deg, #8ca698, #776581);
}
.brick {
	fill: white;
	opacity: 0.90;
}
.but {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.but:hover {
	opacity: 1;
}
.elmsk {
	font: bold 14pt Arial;
}
.menumsk {
	font: 12pt Arial;
}
.flex-container {
	display: flex;
	flex-direction: column;
	width: 36px;
}
#menubar {
	height: 36px;
	width: inherit;
}
#testbox {
	display: inline-block;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
#mainframe {
	height: 904px;
}
#canvas {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cursor-circ {
	pointer-events: none;
	opacity: 0;
}

/*Chemical structure drawing styles*/
.chemtxt {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	text-rendering: geometricPrecision;
	user-select: none;
}
.geomprec {
	text-rendering: geometricPrecision;
}
.sympoi {
	pointer-events: none;
}
.anode {
	fill: url(#grad1);
	opacity: 0;
}
.ag:hover .anode {
	opacity: 1;
	cursor: pointer;
}
.ag:hover .chemtxt {
	filter: none;
}
.brect {
	fill: url(#grad0);
	opacity: 0;
}
.bg:hover .brect {
	opacity: 1;
}
.bg:hover {
	cursor: pointer;
}
.hlcirc {
	stroke: blue;
	stroke-width: 1.1;
	fill: none;
}
.dropdown-child {
	display: none;
	background-color: #f0f4f2;
	color: #364940;
	box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.5);
	font: 10pt Arial;
	position: absolute;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dropdown:hover .dropdown-child {
	display: block;
}
.dropdown-btn {
	cursor: pointer;
	padding: 3px 3px;
}
.dropdown-btn:hover {
	background-color: white;
}
.dropdown-btn:active {
	box-shadow: 0px 0px 0px 1px #364940 inset;
}
#txt-input {
	border: 0;
	outline: none;
	position: absolute;
	transform: translate(-50%, -50%);
}
#txt-input:focus {
	border: 1px solid blue;
}


.dropflex {
	display: none;
	flex-direction: row;
/*	width: 500px;*/
	height: 36px;
	position: absolute;
/*	top: 40px;*/
	left: 44px;
/*	z-index: 1;*/
}
.dropcont {
	height: 36px;
}
.dropcont:hover .dropflex {
	display: flex;
}